@import URL('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One');

body {
background: url("/img/cassie-matias-558564-unsplash.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.container {
  width: 700px;
  max-height: 500px;
  background-color: rgba(218, 218, 218, 0.5);
  padding: 20px;
  margin: 350px -550px 0 auto;
  font-family: 'Roboto Slab', serif;
  border-radius: 22px;
  color: white;
}


h1, h2 {
  text-align: center;
}
